
<div class="header">
    <img src="https://e0.365dm.com/22/10/2048x1152/skysports-world-cup-qatar-2022_5921764.jpg">
<h1 id="text">WorldCup 2022</h1>
</div>
<hr>
<div class="menu">
    <ul>
    <li><a href="/home">Main Page</a></li>
    <li><a href="/groups" >Groups</a></li>
    <li><a href="/ladder" >Ladder</a></li>
    <li><a href="/teams" >Teams</a></li>
    </ul>
</div>
<hr>
<div class="main">
<img src="/images/worldcup.jpg" id="picture1">
</div>
<div class="container">
    <div class="ab">
    <h1 class="About">ABOUT</h1>
    </div>
    <div class="W">
<h1 class="Wab">The most prestigious tournament in the world. </h1>
    <br>
    <div class="t">
    <p class="text">Held every four years, the FIFA Men's World Cup is a competition between 32 countries for the prize. With continental qualification paths leading up to the exciting finals, they bring fans together around the passion and love of the game.</p>
    
    </div>
    </div>
</div>